<!-- Page Content -->
<div class="container-fluid">


<!-- Projects Row -->
<div class="row">
  <div ng-repeat="recipe in list" class="col-md-4">
    <a  ui-sref="recipe" ng-click="showRecipe(recipe.id)"><img class="center" ng-src={{recipe.imageUrlsBySize["90"]}} title="rating: {{recipe.rating}}"></a>
    <h3>
      <a class"recipeName" ui-sref="recipe" ng-click="showRecipe(recipe.id)">{{recipe.recipeName}}</a>
    </h3>
  </div>
</div>

<hr>

<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  </ul>
  </div>
</div>

<hr>
